body {
  font-family: helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

.header {
  display: flex;
  position: fixed;
  align-items: center;
  border-bottom: 1px seashell solid;
  width: 100%;
  height: 69px;
  z-index: 1;
  background-color: black;
}

a {
text-decoration: underline;
color: seashell;
}

.img-logo {
  margin-left: 10px;
  flex-grow: 1;
  display: flex;
}

.nav1 {
  padding: 0px 10px 0px 10px;
}

.main-content {
  position: relative;
  top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first {
  background-image: url("../images/background.jpg");
  height: 700px;
  width: 1200px;
}
.heading-text {
  background-color: black;
  width: 1200px;
  text-align: center;
  align-items: center;
  position: relative;
  top: 275px;
}

.featured {
  display: block;
  position: relative;
  top: 100px;
  width: 1000px;
}

.tea-of-the-month {
  width: 100%;
}

.flavors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flavor-cap {
  margin-top: 10px;
}

.flavor {
  margin-right: 25px;
}

.location {
  background-image: url("../images/location.jpg");
  background-size: cover;
  position: relative;
  top: 125px;
  width: 1200px;
  height: 500px;
  padding-bottom: 100px;
}


.address {
  background-color: black;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  width: 300px;
  flex-direction: column;
  margin: 0 20px 0 20px;
}

.address span {
  margin: 20px;
}

.location2 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  position: relative;
  top: 85px;
}

.location1 {
  position: relative;
  top: 50px;
}

.footer {
  position: relative;
  top: 200px;
  display: block;;
  text-align: left;
  align-items: center;
}

.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.info h5 {
  margin: 20px;
}

#copyright {
  display: block;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 40px;
}
